@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
font-size: 10px;
font-family: "Montserrat", sans-serif ;
scroll-behavior: smooth;
}

a{
    text-decoration: none;

}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    color: black ;
   font-size: 1.4rem;
   margin-top: 5px;
   line-height: 2.5rem;
   font-weight: 300;
   letter-spacing: .05rem ;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: green;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: green;
}
/*Header*/

#header{
    position: fixed;
    z-index:1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header  .header{
    min-height: 8vh;
    background-color: rgba(31,30,30,0.24);
    transition: .3s ease background-color;
}
#header .nav-bar{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    left: 100% ;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left: 0;


}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: rgba(240,248,255,0.21);
    font-size: 10rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover  a{
    color: green;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius:50% ;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;

}
#header .hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_pulse 1s ease infinite;
}
#header .hamburger .bar{
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white ;
  z-index:  -1;
   
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease ;
    transition-property: top ,bottom;
}

#header .hamburger .bar::after{

    top:8px;
}
#header .hamburger .bar::before{

    bottom:8px;
}

#header .hamburger.active  .bar.bar::before{
    bottom: 0;
}
#header .hamburger.active  .bar.bar::after{
    top: 0;
}

/*End Header*/


/* Hero section */
#hero{
    background-image: url(Img/Background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content:'' ;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}

#hero .hero{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 50px;
   justify-content: flex-start;
}


#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;

}

#hero h1:nth-child(1){
    animation-delay: 1.5s;

}
#hero h1:nth-child(2){
    animation-delay: 2.5s;
    
}


#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #008000;
    animation: text_reveal_box 1s ease ;
    animation-delay: 1s;

}
#hero h1:nth-child(1) span{
    animation-delay: 1s;
}
#hero h1:nth-child(2) span{
    animation-delay: 2s;
}

#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid green;
    font-size:2rem ;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color , color;

}
#hero .cta:hover{
    color: white;
    background-color: green;
}
/* End Hero section */


/*Service Section CTA*/

.cta1{

    margin: 20px;
    margin-top: 80px;
    background: white;
    height: 320px;
    width: 220px;
    border-radius: 15px;
    border-color: #c7b198;;
    border-style: solid;
    background-image: url(auto.png);
    transition: all 0.6s ease-in-out;
}
.cta1:hover{

    width: 290px;
    height: 390px;
    transform: translate(-10);
}
.cta2{

    margin: 20px;
    margin-top: 80px;
    background: white;
    height: 320px;
    width: 220px;
    border-radius: 15px;
    border-color: #c7b198;;
    border-style: solid;
    background-image: url(moto.png);



    transition: all 0.6s ease-in-out;
}

.cta2:hover{

    width: 290px;
    height: 390px;
    transform: translate(-10);


}
.cta3{

    margin: 20px;
    margin-top: 80px;
    background: white;
    height: 320px;
    width: 220px;
    border-radius: 15px;
    border-color: #c7b198;;
    border-style: solid;
    background-image: url(scooter.png);



    transition: all 0.6s ease-in-out;
}

.cta3:hover{

    width: 290px;
    height: 390px;
    transform: translate(-10);


}
.cta4{

    margin: 20px;
    margin-top: 80px;
    background: white;
    height: 320px;
    width: 220px;
    border-radius: 15px;
    border-color: #c7b198;;
    border-style: solid;
    background-image: url(patente.png);



    transition: all 0.6s ease-in-out;
}

.cta4:hover{

    width: 290px;
    height: 390px;
    transform: translate(-10);


}
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center ;
}

#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

}
#services .cta1{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px ;
    border-radius: 10px;
    background-image: url(Img/Auto.png);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .cta2{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px ;
    border-radius: 10px;
    background-image: url(Img/Moto.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .cta3{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px ;
    border-radius: 10px;
    background-image: url(Img/Scooter.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .cta4{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px ;
    border-radius: 10px;
    background-image: url(Img/Patente.png);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .cta1::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#293223 0%,#485563 100%);
    opacity: .8;
    z-index: -1 ;
}

#services .cta2::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#293223 0%,#485563 100%);
    opacity: .8;
    z-index: -1 ;
}
#services .cta3::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#293223 0%,#485563 100%);
    opacity: .8;
    z-index: -1 ;
}
#services .cta4::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#293223 0%,#485563 100%);
    opacity: .8;
    z-index: -1 ;
}

#services .service-bottom .icon{
height: 80px;
width: 80px;
margin-bottom:20px  ;
}
#services .service-bottom .icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#services .cta1 h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .cta2 h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .cta3 h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .cta4 h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .cta1 p{
    color: white;
   text-align: left;

}

#services .cta2 p{
    color: white;
   text-align: left;

}

#services .cta3 p{
    color: white;
   text-align: left;

}
#services .cta4 p{
    color: white;
   text-align: left;

}

/* End Service Section*/

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */


/* Keyframes */
@keyframes hamburger_pulse{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}


@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{

    100%{
        color: white;
    }
}

/* End Keyframes */




/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */